<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<title>
    Detail author | Admin
</title>
<th:block th:include="fragments/admin/head"></th:block>

<body>
<div class="wrapper ">
    <th:block th:include="fragments/admin/sidebar_book"></th:block>
    <div class="main-panel">
        <!-- Navbar -->
        <th:block th:include="fragments/admin/navbar"></th:block>
        <!-- End Navbar -->
        <div class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="card ">
                        <div class="card-header ">
                            <h4 class="card-title">Detail Book</h4>
                        </div>
                        <div class="card-body ">
                            <!-- Begin Page Content -->
                            Name: <h5 th:text="${book.name}" class="card-title"></h5>
                            <p class="category">Details</p>
                            <div class="content">
                                <img th:src="@{${book.photos}}">
                            </div>
                            Author: <p th:text="${book.author.name}"></p>
                            Publisher: <p th:text="${book.publisher.name}"></p>

                            Category: <th:block th:each="category : ${book.categories}">
                                        <p th:text="${category.name}"></p>
                                      </th:block>

                            Price: <p th:text="${book.price}"></p>
                            Quantity: <p th:text="${book.quantity}"></p>
                            Description: <p th:text="${book.description}"></p>
                            <!-- /.content -->
                        </div>
                    </div>
                </div>
            </div>
            <th:block th:include="fragments/admin/footer"></th:block>
        </div>
    </div>
    <th:block th:include="fragments/admin/scripts"></th:block>

    <script>
        $(document).ready(function() {
            demo.initGoogleMaps();
        });
    </script>
</div>
</body>

</html>
