<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table border="1">
    <tr>
        <th>Nguoi dat</th>
        <th>SDT</th>
        <th>DIA CHI</th>
        <th>Gia don hang</th>
        <th>Trang thai</th>
        <th>ORDER DETAILS</th>
    </tr>
    <tr th:each="o :${list}">
        <td th:text="${o.customerName}"></td>
        <td th:text="${o.customerPhone}"></td>
        <td th:text="${o.customerAddress}"></td>
        <td th:text="${o.unitPrice}"></td>
        <th:block th:if="${o.status ==1}">
            <td>Dang xu li</td>
        </th:block>
        <th:block th:unless="${o.status ==1}">
            <td>da xu li xong</td>
        </th:block>
        <td >
            <a th:href="@{'/admin/orders/' + ${o.id}}">Detail</a>
            <!--<ul th:each="detail :${o.orderDetails}">
                <li th:text="${detail.book.name}+':'+${detail.quantity}+' cuốn'"></li>
                <li th:text="'Price:'+${detail.price}"></li>
                <li th:text="'BookID:'+${detail.id.getBookId()}"></li>
                <li th:text="'OrderID:'+${detail.id.getOrderId()}"></li>
            </ul>-->
        </td>
    </tr>
</table>
</body>
</html>