<!-- BEGIN PRE-FOOTER -->
<div class="pre-footer">
    <div class="container">
        <div class="row">
            <!-- BEGIN BOTTOM ABOUT BLOCK -->
            <div class="col-md-4 col-sm-6 pre-footer-col">
                <h2>Giới thiệu</h2>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam sit nonummy nibh euismod tincidunt ut
                    laoreet dolore magna aliquarm erat sit volutpat. Nostrud exerci tation ullamcorper suscipit lobortis nisl
                    aliquip commodo consequat. </p>
                <p>Duis autem vel eum iriure dolor vulputate velit esse molestie at dolore.</p>
            </div>
            <!-- END BOTTOM ABOUT BLOCK -->
            <!-- BEGIN BOTTOM INFO BLOCK -->
            <!-- END INFO BLOCK -->

            <!-- BEGIN BOTTOM CONTACTS -->
            <div class="col-md-4 col-sm-6 pre-footer-col">
                <h2>Liên hệ với chúng tôi</h2>
                <address class="margin-bottom-40">
                    Số 1 Võ Thị Sáu, Thanh Nhàn,<br>
                    Hai Bà Trưng, Hà Nội<br>
                    Phone: 300 323 3456<br>
                    Fax: 300 323 1456<br>
                    Email: <a href="mailto:info@metronic.com">bookstore@gmail.com</a><br>
                    Skype: <a href="skype:metronic">bookstore</a>
                </address>
            </div>
            <div class="col-md-4 col-sm-6 pre-footer-col">
                <h2>Bản đồ địa chỉ</h2>
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14896.306263363938!2d105.7776933!3d21.0296222!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ac0afc4479d7%3A0x59b3cedf4d9a83ca!2zMSBWw7UgVGjhu4sgU8OhdSwgVGhhbmggTmjDoG4sIEhhaSBCw6AgVHLGsG5nLCBIw6AgTuG7mWk!5e0!3m2!1svi!2s!4v1574874741101!5m2!1svi!2s" width="300" height="150" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
            </div>
            <!-- END BOTTOM CONTACTS -->
        </div>
        <hr>
<!--        <div class="row">-->
<!--            &lt;!&ndash; BEGIN SOCIAL ICONS &ndash;&gt;-->
<!--            <div class="col-md-6 col-sm-6">-->
<!--                <ul class="social-icons">-->
<!--                    <li><a class="rss" data-original-title="rss" href="javascript:;"></a></li>-->
<!--                    <li><a class="facebook" data-original-title="facebook" href="javascript:;"></a></li>-->
<!--                    <li><a class="twitter" data-original-title="twitter" href="javascript:;"></a></li>-->
<!--                    <li><a class="googleplus" data-original-title="googleplus" href="javascript:;"></a></li>-->
<!--                    <li><a class="linkedin" data-original-title="linkedin" href="javascript:;"></a></li>-->
<!--                    <li><a class="youtube" data-original-title="youtube" href="javascript:;"></a></li>-->
<!--                    <li><a class="vimeo" data-original-title="vimeo" href="javascript:;"></a></li>-->
<!--                    <li><a class="skype" data-original-title="skype" href="javascript:;"></a></li>-->
<!--                </ul>-->
<!--            </div>-->
<!--            &lt;!&ndash; END SOCIAL ICONS &ndash;&gt;-->
<!--            &lt;!&ndash; BEGIN NEWLETTER &ndash;&gt;-->
<!--            <div class="col-md-6 col-sm-6">-->
<!--                <div class="pre-footer-subscribe-box pull-right">-->
<!--                    <h2>Newsletter</h2>-->
<!--                    <form action="#">-->
<!--                        <div class="input-group">-->
<!--                            <input type="text" placeholder="youremail@mail.com" class="form-control">-->
<!--                            <span class="input-group-btn">-->
<!--                  <button class="btn btn-primary" type="submit">Subscribe</button>-->
<!--                </span>-->
<!--                        </div>-->
<!--                    </form>-->
<!--                </div>-->
<!--            </div>-->
<!--            &lt;!&ndash; END NEWLETTER &ndash;&gt;-->
<!--        </div>-->
    </div>
</div>
<!-- END PRE-FOOTER -->
<!--<div class="footer">-->
<!--    <div class="container">-->
<!--        <div class="row">-->
<!--            &lt;!&ndash; BEGIN COPYRIGHT &ndash;&gt;-->
<!--            <div class="col-md-4 col-sm-4 padding-top-10">-->
<!--&lt;!&ndash;                2015 © Keenthemes. ALL Rights Reserved.&ndash;&gt;-->
<!--            </div>-->
<!--            &lt;!&ndash; END COPYRIGHT &ndash;&gt;-->
<!--            &lt;!&ndash; BEGIN PAYMENTS &ndash;&gt;-->
<!--            <div class="col-md-4 col-sm-4">-->
<!--                <ul class="list-unstyled list-inline pull-right">-->
<!--                    <li><img th:src="@{/assets-client/corporate/img/payments/western-union.jpg}" alt="We accept Western Union"-->
<!--                             title="We accept Western Union"></li>-->
<!--                    <li><img th:src="@{/assets-client/corporate/img/payments/american-express.jpg}" alt="We accept American Express"-->
<!--                             title="We accept American Express"></li>-->
<!--                    <li><img th:src="@{/assets-client/corporate/img/payments/MasterCard.jpg}" alt="We accept MasterCard"-->
<!--                             title="We accept MasterCard"></li>-->
<!--                    <li><img th:src="@{/assets-client/corporate/img/payments/PayPal.jpg}" alt="We accept PayPal" title="We accept PayPal">-->
<!--                    </li>-->
<!--                    <li><img th:src="@{/assets-client/corporate/img/payments/visa.jpg}" alt="We accept Visa" title="We accept Visa"></li>-->
<!--                </ul>-->
<!--            </div>-->
<!--            &lt;!&ndash; END PAYMENTS &ndash;&gt;-->
<!--            &lt;!&ndash; BEGIN POWERED &ndash;&gt;-->
<!--            <div class="col-md-4 col-sm-4 text-right">-->
<!--&lt;!&ndash;                <p class="powered">Powered by: <a href="">KeenThemes.com</a></p>&ndash;&gt;-->
<!--            </div>-->
<!--            &lt;!&ndash; END POWERED &ndash;&gt;-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
