<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:include="fragments/head"></th:block>
<body>
<!-- Page Wrapper -->
<div id="wrapper">
    <th:block th:include="fragments/sidebar"></th:block>
    <!-- Main Panel -->
    <div class="main-panel">
        <!--<th:block th:include="fragments/navbar"></th:block>-->
        <!-- Begin Page Content -->
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Add new Book</h4>
                                <p class="category">fill out & click save</p>
                            </div>

                            <div class="content">
                                <form th:object="${author}" th:action="@{/create}" th:method="post">
                                    <div class="form-group">
                                        <label for="name">Name</label>
                                        <input type="text" class="form-control" id="name" aria-describedby="name" th:field="*{name}" playeholder="Harry Potter and the Deathly Hollows">
                                    </div>
                                    <div class="form-group">
                                        <label for="avatar">Author</label>
                                        <input type="text" class="form-control" id="avatar" aria-describedby="avatar" th:field="*{avatar}" playeholder="Joanne K. Rowling"/>
                                    </div>
                                    <div class="form-group">
                                        <label for="description">Description</label>
                                        <textarea rows="4" type="textarea" class="form-control" id="description" th:field="*{description}" playeholder="type here ..."/></textarea>
                                    </div>
                                    <button type="submit" class="btn btn-primary">Save</button>
                                    <button type="reset" class="btn btn-danger">Reset</button>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content -->
    </div>
    <!-- End of Main Panel -->
    <th:block th:include="fragments/footer"></th:block>
</div>

<th:block th:include="fragments/scripts"></th:block>
</body>
</html>