<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<!-- Head BEGIN -->
<title>Home | Book Store</title>
<th:block th:include="fragments/client/head"></th:block>
<!-- Head END -->

<!-- Body BEGIN -->

<body class="ecommerce">
<!-- BEGIN HEADER -->
<th:block th:include="fragments/client/header"></th:block>
<!-- END HEADER -->

<div class="title-wrapper">
    <div class="container">
        <div class="container-inner">
            <h1><span>Books</span> & nature</h1>
            <em>belong to the eyes that see them.</em>
            <!-- <p>Ralph Waldo Emerson</p>    -->
        </div>
    </div>
</div>

<div class="main">
    <div class="container">
        <ul class="breadcrumb">
            <li><a th:href="@{/index}">Home</a></li>
            <li><a href="">Store</a></li>
            <li class="active">Book category</li>
        </ul>
        <!-- BEGIN SIDEBAR & CONTENT -->
        <div class="row margin-bottom-40">
            <!-- BEGIN SIDEBAR -->
            <div class="sidebar col-md-3 col-sm-5">
                <ul class="list-group margin-bottom-25 sidebar-menu">
                    <li class="list-group-item clearfix"><a th:href="@{/shop-product-list}"><i
                            class="fa fa-angle-right"></i> Sách
                        bán chạy</a></li>
                    <li class="list-group-item clearfix"><a th:href="@{/shop-product-list}"><i
                            class="fa fa-angle-right"></i> Sách
                        mới phát hành</a></li>
                    <li class="list-group-item clearfix"><a th:href="@{/shop-product-list}"><i
                            class="fa fa-angle-right"></i> Sách
                        sắp phát hành</a></li>
                    <li class="list-group-item clearfix dropdown active">
                        <a href="javascript:void(0);" class="collapsed">
                            <i class="fa fa-angle-right"></i>
                            Sách văn học
                        </a>
                        <ul class="dropdown-menu" style="display:block;">
                            <li><a th:href="@{/shop-product-list}"><i class="fa fa-angle-right"></i> Sách văn học nước
                                ngoài</a></li>
                            <li><a th:href="@{/shop-product-list}"><i class="fa fa-angle-right"></i> Sách văn học trong
                                nước</a></li>
                        </ul>
                    </li>
                    <li class="list-group-item clearfix"><a th:href="@{/shop-product-list}"><i
                            class="fa fa-angle-right"></i> Sách
                        kinh tế</a></li>
                    <li class="list-group-item clearfix"><a th:href="@{/shop-product-list}"><i
                            class="fa fa-angle-right"></i> Sách
                        giáo khoa</a></li>
                    <li class="list-group-item clearfix"><a th:href="@{/shop-product-list}"><i
                            class="fa fa-angle-right"></i> Sách
                        tạp chí</a></li>
                    <li class="list-group-item clearfix"><a th:href="@{/shop-product-list}"><i
                            class="fa fa-angle-right"></i> Sách
                        thiếu nhi</a></li>
                </ul>

                <div class="sidebar-filter margin-bottom-25">
                    <h2>Filter</h2>
                    <h3>Availability</h3>
                    <div class="checkbox-list">
                        <label><input type="checkbox"> Not Available (3)</label>
                        <label><input type="checkbox"> In Stock (26)</label>
                    </div>
                    <h3>Price</h3>
                    <p>
                        <label for="amount">Range:</label>
                        <input type="text" id="amount" style="border:0; color:#f6931f; font-weight:bold;">
                    </p>
                    <div id="slider-range"></div>
                </div>

                <div class="sidebar-products clearfix">
                    <h2>Bestsellers</h2>
                    <div class="item">
                        <a th:href="@{/shop-item}"><img src="/assets-client/pages/img/products/k1.jpg"
                                                        alt="Some Shoes in Animal with Cut Out"></a>
                        <h3><a th:href="@{/shop-item}">Some Shoes in Animal with Cut Out</a></h3>
                        <div class="price">$31.00</div>
                    </div>
                    <div class="item">
                        <a th:href="@{/shop-item}"><img src="/assets-client/pages/img/products/k4.jpg"
                                                        alt="Some Shoes in Animal with Cut Out"></a>
                        <h3><a th:href="@{/shop-item}">Some Shoes in Animal with Cut Out</a></h3>
                        <div class="price">$23.00</div>
                    </div>
                    <div class="item">
                        <a th:href="@{/shop-item}"><img src="/assets-client/pages/img/products/k3.jpg"
                                                        alt="Some Shoes in Animal with Cut Out"></a>
                        <h3><a th:href="@{/shop-item}">Some Shoes in Animal with Cut Out</a></h3>
                        <div class="price">$86.00</div>
                    </div>
                </div>
            </div>
            <!-- END SIDEBAR -->
            <!-- BEGIN CONTENT -->
            <div class="col-md-9 col-sm-7">
                <div class="content-search margin-bottom-20">
                    <form th:action="@{/shop-product-list}" method="get">
                    <div class="row">
                        <div class="col-md-6">
                            <h1>Search result for <em>Book</em></h1>
                        </div>
                        <div class="col-md-6">
                            <select id="category" name="categoryId" class="form-control" onchange="this.form.submit()">
                                <option th:each="category : ${categories}"
                                        th:text="${category.name}"
                                        th:value="${category.id}"
                                        th:selected="${category.id==categoryId}">
                                </option>
                            </select>
                        </div>
                    </div>
                    </form>
                </div>

                <!-- BEGIN PRODUCT LIST -->
                <div class="row product-list">
                    <!-- PRODUCT ITEM START -->
                    <div class="col-md-3 col-sm-6 col-xs-12" th:each="book: ${books}">
                        <div class="product-item" th:id="${book.id}">
                            <div class="pi-img-wrapper">
                                <img th:src="@{${book.photos}}" class="img-responsive" alt="image book" style="object-fit: cover;">
                                <div>
                                    <a th:href="@{${book.photos}}" class="btn btn-default fancybox-button">Zoom</a>
                                    <a href="#product-pop-up" class="btn btn-default fancybox-fast-view"
                                       th:BookName="${book.name}"
                                       th:BookDescription="${book.description}"
                                       th:BookPrice="${book.price}"
                                       th:BookQuantity="${book.quantity}"
                                       th:Bookid="${book.id}"
                                       th:BookImg="${book.photos}"
                                       th:BookAuthor="${book.author.name}"
                                       th:BookPublisher="${book.publisher.name}"
                                       th:each = "category: ${book.categories}"
                                       th:BookCategories = "${category.name}"
                                       onclick="view(this)">View</a>
                                </div>
                            </div>
                            <h3><a th:href="@{/shop-item}" th:text="${book.name}"></a></h3>
                            <div th:text="${book.price}" class="pi-price"></div>
                            <a href="javascript:;" class="btn btn-default add2cart">Add to cart</a>
                        </div>
                    </div>
                    <!-- PRODUCT ITEM END -->
                </div>

                <!-- END PRODUCT LIST -->
                <!-- BEGIN PAGINATOR -->
                <div class="card-footer">
                    <nav aria-label="Page navigation example" th:if="${totalPage > 1}">
                        <ul class="pagination float-right">
                            <li class="page-item"><a class="page-link" th:href="@{/shop-product-list(page=${1}, limit=${limit})}">First</a></li>
                            <li th:if="${currentPage > 1}" class="page-item"><a class="page-link" th:href="@{/shop-product-list(page=${currentPage - 1}, limit=${limit})}">Previous</a></li>
                            <li th:if="${currentPage > 1}" class="page-item"><a class="page-link" th:href="@{/shop-product-list(page=${currentPage - 1}, limit=${limit})}">[[${currentPage - 1}]]</a></li>
                            <li class="page-item active"><a class="page-link" href="#">[[${currentPage}]]</a></li>
                            <li th:if="${currentPage < totalPage}" class="page-item"><a class="page-link" th:href="@{/shop-product-list(page=${currentPage + 1}, limit=${limit})}">[[${currentPage + 1}]]</a></li>
                            <li th:if="${currentPage < totalPage}" class="page-item"><a class="page-link" th:href="@{/shop-product-list(page=${currentPage + 1}, limit=${limit})}">Next</a></li>
                            <li class="page-item"><a class="page-link" th:href="@{/shop-product-list(page=${totalPage}, limit=${limit})}">Last</a></li>
                        </ul>
                    </nav>
                </div>
                <!-- END PAGINATOR -->
            </div>
            <!-- END CONTENT -->
        </div>
        <!-- END SIDEBAR & CONTENT -->
    </div>
</div>

<!-- BEGIN STEPS -->
<div class="steps-block steps-block-red">
    <div class="container">
        <div class="row">
            <div class="col-md-4 steps-block-col">
                <i class="fa fa-truck"></i>
                <div>
                    <h2>Free shipping</h2>
                    <em>Express delivery withing 3 days</em>
                </div>
                <span>&nbsp;</span>
            </div>
            <div class="col-md-4 steps-block-col">
                <i class="fa fa-gift"></i>
                <div>
                    <h2>Daily Gifts</h2>
                    <em>3 Gifts daily for lucky customers</em>
                </div>
                <span>&nbsp;</span>
            </div>
            <div class="col-md-4 steps-block-col">
                <i class="fa fa-phone"></i>
                <div>
                    <h2>477 505 8877</h2>
                    <em>24/7 customer care available</em>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END STEPS -->

<!-- BEGIN FOOTER -->
<th:block th:include="fragments/client/footer"></th:block>
<!-- END FOOTER -->

<!-- BEGIN fast view of a product -->
<div id="product-pop-up" style="display: none; width: 700px;">
    <div class="product-page product-pop-up">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-3">
                <div class="product-main-image">
                    <div id="bookInfo">
                        <img src="" alt="image book" class="img-responsive" id="imgModal">
                    </div>
                </div>
                <div class="product-other-images">
                    <a href="javascript:;" class="active">
                        <img alt="Berry Lace Dress"src=""></a>
                    <a href="javascript:;">
                        <img alt="Berry Lace Dress"src="/assets-client/pages/img/products/book2.jpg"></a>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-9">
                <h1 id="nameModal"></h1>
                <div class="price-availability-block clearfix">
                    <div class="price">
                        <strong id="priceModal"><span>$</span></strong>
                        <em>$<span>62.00</span></em>
                    </div>
                    <div class="availability">
                        Availability: <strong>In Stock</strong>
                    </div>
                </div>
                <div class="author">
                   Tác giả: <p id="authorModal"></p>
                </div>
                <div class="publisher">
                    Nhà xuất bản: <p id="publisherModal"></p>
                </div>
                <div>
                    Category: <p id="categoriesModal"></p>
                </div>
                <div class="description">
                    <p id="descr"></p>
                </div>
                <div class="product-page-cart">
                    <div class="product-quantity">
                        <input id="product-quantity" type="text" value="1" readonly name="product-quantity"
                               class="form-control input-sm">
                    </div>
                    <button class="btn btn-primary" type="submit">Add to cart</button>
                    <a th:href="@{/shop-item}" class="btn btn-default">More details</a>
                </div>
            </div>

            <div class="sticker sticker-sale"></div>
        </div>
    </div>
</div>
<!-- END fast view of a product -->
<th:block th:include="fragments/client/scripts"></th:block>
</body>
<!-- END BODY -->

</html>

