<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<!-- Head BEGIN -->
<title>Home | Book Store</title>
<th:block th:include="fragments/client/head"></th:block>
<!-- Head END -->

<!-- Body BEGIN -->

<body class="ecommerce">
<!-- BEGIN HEADER -->
<th:block th:include="fragments/client/header"></th:block>
<!-- END HEADER -->

<div class="title-wrapper">
    <div class="container">
        <div class="container-inner">
            <h1><span>Books</span> & nature</h1>
            <em>belong to the eyes that see them.</em>
            <!-- <p>Ralph Waldo Emerson</p>    -->
        </div>
    </div>
</div>

<div class="main">
    <div class="container">
        <ul class="breadcrumb">
            <li><a th:href="@{/index}">Home</a></li>
            <li><a href="">Store</a></li>
            <li class="active">Book category</li>
        </ul>
        <!-- BEGIN SIDEBAR & CONTENT -->
        <div class="row margin-bottom-40">
            <!-- BEGIN SIDEBAR -->
            <div class="sidebar col-md-3 col-sm-5">
                <ul class="list-group margin-bottom-25 sidebar-menu">
                    <li class="list-group-item clearfix"><a th:href="@{/shop-product-list}"><i
                            class="fa fa-angle-right"></i> Sách
                        bán chạy</a></li>
                    <li class="list-group-item clearfix"><a th:href="@{/shop-product-list}"><i
                            class="fa fa-angle-right"></i> Sách
                        mới phát hành</a></li>
                    <li class="list-group-item clearfix"><a th:href="@{/shop-product-list}"><i
                            class="fa fa-angle-right"></i> Sách
                        sắp phát hành</a></li>
                    <li class="list-group-item clearfix dropdown active">
                        <a href="javascript:void(0);" class="collapsed">
                            <i class="fa fa-angle-right"></i>
                            Sách văn học
                        </a>
                        <ul class="dropdown-menu" style="display:block;">
                            <li><a th:href="@{/shop-product-list}"><i class="fa fa-angle-right"></i> Sách văn học nước
                                ngoài</a></li>
                            <li><a th:href="@{/shop-product-list}"><i class="fa fa-angle-right"></i> Sách văn học trong
                                nước</a></li>
                        </ul>
                    </li>
                    <li class="list-group-item clearfix"><a th:href="@{/shop-product-list}"><i
                            class="fa fa-angle-right"></i> Sách
                        kinh tế</a></li>
                    <li class="list-group-item clearfix"><a th:href="@{/shop-product-list}"><i
                            class="fa fa-angle-right"></i> Sách
                        giáo khoa</a></li>
                    <li class="list-group-item clearfix"><a th:href="@{/shop-product-list}"><i
                            class="fa fa-angle-right"></i> Sách
                        tạp chí</a></li>
                    <li class="list-group-item clearfix"><a th:href="@{/shop-product-list}"><i
                            class="fa fa-angle-right"></i> Sách
                        thiếu nhi</a></li>
                </ul>

                <div class="sidebar-filter margin-bottom-25">
                    <h2>Filter</h2>
                    <h3>Availability</h3>
                    <div class="checkbox-list">
                        <label><input type="checkbox"> Not Available (3)</label>
                        <label><input type="checkbox"> In Stock (26)</label>
                    </div>
                    <h3>Price</h3>
                    <p>
                        <label for="amount">Range:</label>
                        <input type="text" id="amount" style="border:0; color:#f6931f; font-weight:bold;">
                    </p>
                    <div id="slider-range"></div>
                </div>

                <div class="sidebar-products clearfix">
                    <h2>Bestsellers</h2>
                    <div class="item">
                        <a th:href="@{/shop-item}"><img src="/assets-client/pages/img/products/k1.jpg"
                                                        alt="Some Shoes in Animal with Cut Out"></a>
                        <h3><a th:href="@{/shop-item}">Some Shoes in Animal with Cut Out</a></h3>
                        <div class="price">$31.00</div>
                    </div>
                    <div class="item">
                        <a th:href="@{/shop-item}"><img src="/assets-client/pages/img/products/k4.jpg"
                                                        alt="Some Shoes in Animal with Cut Out"></a>
                        <h3><a th:href="@{/shop-item}">Some Shoes in Animal with Cut Out</a></h3>
                        <div class="price">$23.00</div>
                    </div>
                    <div class="item">
                        <a th:href="@{/shop-item}"><img src="/assets-client/pages/img/products/k3.jpg"
                                                        alt="Some Shoes in Animal with Cut Out"></a>
                        <h3><a th:href="@{/shop-item}">Some Shoes in Animal with Cut Out</a></h3>
                        <div class="price">$86.00</div>
                    </div>
                </div>
            </div>
            <!-- END SIDEBAR -->
            <!-- BEGIN CONTENT -->
            <div class="col-md-9 col-sm-7">
                <div class="content-search margin-bottom-20">
                    <div class="row">
                        <div class="col-md-6">
                            <h1>Search result for <em>Book</em></h1>
                        </div>
                        <div class="col-md-6">
                            <form action="#">
                                <div class="input-group">
                                    <input type="text" placeholder="Search again" class="form-control">
                                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="submit">Search</button>
                      </span>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="row list-view-sorting clearfix">
                    <div class="col-md-2 col-sm-2 list-view">
                        <a href="javascript:;"><i class="fa fa-th-large"></i></a>
                        <a href="javascript:;"><i class="fa fa-th-list"></i></a>
                    </div>
                    <div class="col-md-10 col-sm-10">
                        <div class="pull-right">
                            <label class="control-label">Show:</label>
                            <select class="form-control input-sm">
                                <option value="#?limit=24" selected="selected">24</option>
                                <option value="#?limit=25">25</option>
                                <option value="#?limit=50">50</option>
                                <option value="#?limit=75">75</option>
                                <option value="#?limit=100">100</option>
                            </select>
                        </div>
                        <div class="pull-right">
                            <label class="control-label">Sort&nbsp;By:</label>
                            <select class="form-control input-sm">
                                <option value="#?sort=p.sort_order&amp;order=ASC" selected="selected">Default</option>
                                <option value="#?sort=pd.name&amp;order=ASC">Name (A - Z)</option>
                                <option value="#?sort=pd.name&amp;order=DESC">Name (Z - A)</option>
                                <option value="#?sort=p.price&amp;order=ASC">Price (Low &gt; High)</option>
                                <option value="#?sort=p.price&amp;order=DESC">Price (High &gt; Low)</option>
                                <option value="#?sort=rating&amp;order=DESC">Rating (Highest)</option>
                                <option value="#?sort=rating&amp;order=ASC">Rating (Lowest)</option>
                                <option value="#?sort=p.model&amp;order=ASC">Model (A - Z)</option>
                                <option value="#?sort=p.model&amp;order=DESC">Model (Z - A)</option>
                            </select>
                        </div>
                    </div>
                </div>
                <!-- BEGIN PRODUCT LIST -->
                <div class="row product-list">
                    <!-- PRODUCT ITEM START -->
                    <div class="col-md-3 col-sm-6 col-xs-12" th:each="book: ${productBook}">
                        <div class="product-item" th:id="${book.id}">
                            <div class="pi-img-wrapper">
                                <img th:src="@{${book.photos}}" class="img-responsive" alt="image book" style="object-fit: cover;">
                                <div>
                                    <a th:href="@{${book.photos}}" class="btn btn-default fancybox-button">Zoom</a>
                                    <a href="#product-pop-up" class="btn btn-default fancybox-fast-view"
                                       th:BookName="${book.name}"
                                       th:BookDescription="${book.description}"
                                       th:BookPrice="${book.price}"
                                       th:BookQuantity="${book.quantity}"
                                       th:Bookid="${book.id}"
                                       th:BookImg="${book.photos}"
                                       th:BookAuthor="${book.author.name}"
                                       onclick="view(this)">View</a>
                                </div>
                            </div>
                            <h3 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis; width: auto"><a th:href="@{'/shop-item/' + ${book.id}}" th:text="${book.name}"></a></h3>
                            <div th:text="${book.price}" class="pi-price"></div>
                            <a href="javascript:;" class="btn btn-default add2cart">Add to cart</a>
                        </div>
                    </div>
                    <!-- PRODUCT ITEM END -->
                </div>

                <!-- END PRODUCT LIST -->
                <!-- BEGIN PAGINATOR -->
                <div class="row">
                    <div class="col-md-4 col-sm-4 items-info">Items 1 to 9 of 10 total</div>
                    <div class="col-md-8 col-sm-8">
                        <ul class="pagination pull-right">
                            <li><a href="javascript:;">&laquo;</a></li>
                            <li><a href="javascript:;">1</a></li>
                            <li><span>2</span></li>
                            <li><a href="javascript:;">3</a></li>
                            <li><a href="javascript:;">4</a></li>
                            <li><a href="javascript:;">5</a></li>
                            <li><a href="javascript:;">&raquo;</a></li>
                        </ul>
                    </div>
                </div>
                <!-- END PAGINATOR -->
            </div>
            <!-- END CONTENT -->
        </div>
        <!-- END SIDEBAR & CONTENT -->
    </div>
</div>

<!-- BEGIN STEPS -->
<div class="steps-block steps-block-red">
    <div class="container">
        <div class="row">
            <div class="col-md-4 steps-block-col">
                <i class="fa fa-truck"></i>
                <div>
                    <h2>Free shipping</h2>
                    <em>Express delivery withing 3 days</em>
                </div>
                <span>&nbsp;</span>
            </div>
            <div class="col-md-4 steps-block-col">
                <i class="fa fa-gift"></i>
                <div>
                    <h2>Daily Gifts</h2>
                    <em>3 Gifts daily for lucky customers</em>
                </div>
                <span>&nbsp;</span>
            </div>
            <div class="col-md-4 steps-block-col">
                <i class="fa fa-phone"></i>
                <div>
                    <h2>477 505 8877</h2>
                    <em>24/7 customer care available</em>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END STEPS -->

<!-- BEGIN FOOTER -->
<th:block th:include="fragments/client/footer"></th:block>
<!-- END FOOTER -->

<!-- BEGIN fast view of a product -->
<div id="product-pop-up" style="display: none; width: 700px;">
    <div class="product-page product-pop-up">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-3">
                <div class="product-main-image">
                    <div id="bookInfo">
                        <img src="" alt="image book" class="img-responsive" id="imgModal">
                    </div>
                </div>
                <div class="product-other-images" id="bookInfo">
                    <a href="javascript:;" class="active">
                        <img alt="Image book" src="" id="ImgModal"></a>
                    <a href="javascript:;">
                        <img alt="Image book" src="/assets-client/pages/img/products/book2.jpg"></a>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-9">
                <h1 id="nameModal"></h1>
                <div class="price-availability-block clearfix">
                    <div class="price">
                        <strong id="priceModal"><span>$</span></strong>
                        <em>$<span>62.00</span></em>
                    </div>
                    <div class="availability">
                        Availability: <strong>In Stock</strong>
                    </div>
                </div>
                <div class="author">
                    Tác giả: <p id="authorModal"></p>
                </div>
                <div class="description">
                    <p id="descr"></p>
                </div>
                <div class="product-page-cart">
                    <div class="product-quantity">
                        <input id="product-quantity" type="text" value="1" readonly name="product-quantity"
                               class="form-control input-sm">
                    </div>
                    <button class="btn btn-primary" type="submit">Add to cart</button>
                    <a th:href="@{/shop-item}" class="btn btn-default">More details</a>
                </div>
            </div>

            <div class="sticker sticker-sale"></div>
        </div>
    </div>
</div>
<!-- END fast view of a product -->
<th:block th:include="fragments/client/scripts"></th:block>
</body>
<!-- END BODY -->

</html>

