<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- Head BEGIN -->
<title>Item book | Book Store</title>
<th:block th:include="fragments/client/head"></th:block>
<!-- Head END -->

<!-- Body BEGIN -->
<body class="ecommerce">
<!-- BEGIN HEADER -->
<th:block th:include="fragments/client/header"></th:block>
<!-- Header END -->

<div class="main">
  <div class="container">
    <ul class="breadcrumb">
      <li><a th:href="@{/}">Trang chủ</a></li>
      <li><a href="/shop-product-list">Sách</a></li>
      <li class="active" th:text="${book.name}"></li>
    </ul>
    <!-- BEGIN SIDEBAR & CONTENT -->
    <div class="row margin-bottom-40">
      <!-- BEGIN SIDEBAR -->
        <div class="sidebar col-md-3 col-sm-5">
          <ul class="list-group margin-bottom-25 sidebar-menu">
            <li class="list-group-item clearfix"><a th:href="@{/shop-product-best-selling}"><i class="fa fa-angle-right"></i> Sách bán chạy</a></li>
            <li class="list-group-item clearfix"><a th:href="@{/shop-product-new-release}"><i class="fa fa-angle-right"></i>Sách mới phát hành</a></li>
            <li class="list-group-item clearfix"><a th:href="@{/shop-product-list}"><i class="fa fa-angle-right"></i> Sách</a></li>
          </ul>
        </div>
      <!-- END SIDEBAR -->

      <!-- BEGIN CONTENT -->
      <div class="col-md-9 col-sm-7">
        <div class="product-page">
          <div class="row">
            <div class="col-md-6 col-sm-6">
              <div class="product-main-image">
                <img th:src="@{${book.photos}}">
              </div>
            </div>
            <div class="col-md-6 col-sm-6">
              <h1 th:text="${book.name}"></h1>
              <div class="price-availability-block clearfix">
                <div class="price">
                  <strong th:text="${book.price + 'đ'}"></strong>
                  <em><span th:text="${book.price*1.5 + 'đ'}"></span></em>
                </div>
                <div class="availability">
                  <th:block th:if="${book.quantity>0}">Trạng thái: <strong>Còn hàng</strong></th:block>
                  <th:block th:unless="${book.quantity>0}"><span>Hết hàng</span></th:block>
                </div>
              </div>
              <div th:if="${success}"
                   class="row alert alert-success alert-dismissible">
                <button type="button" class="close" data-dismiss="alert"
                        aria-label="Close">
                  <span aria-hidden="true">×</span>
                </button>
                <span th:text="${success}"></span>
              </div>
              <div class="description">
                <th:block th:each="category :${book.categories}">
                  <span>Thể loại: </span><a href=""><span th:text="${category.name}"></span></a>
                </th:block>
                <br/>
                <p><span>Mô tả: </span><span th:text="${book.description}"></span></p>
              </div>
              <th:block th:if="${book.quantity>0}">
                <div class="product-page-cart">
                  <!--so luong order ban dau-->
                  <form th:action="@{/cart/buy/{id}(id=*{id})}">
                    <div class="product-quantity">
                      <input name="quantity" type="number" th:value="1" class="form-control input-sm">
                    </div>
                    <!--end so luong order ban dau-->
                    <button class="btn btn-primary" type="submit">Thêm vào giỏ</button>
                  </form>
                </div>
              </th:block>
              <th:block th:unless="${book.quantity>0}">
                <div class="product-page-cart">
                 <span style="color: white;font-size: larger;background-color: orangered">Tạm thời hết hàng</span>
                </div>
              </th:block>
              <div class="review">
                </div>
              </div>
            </div>

            <div class="sticker sticker-sale"></div>
          </div>
        </div>
      </div>
      <!-- END CONTENT -->
    </div>
    <!-- END SIDEBAR & CONTENT -->

  </div>
</div>

<!-- BEGIN STEPS -->
<div class="steps-block steps-block-red">
  <div class="container">
    <div class="row">
      <div class="col-md-4 steps-block-col">
        <i class="fa fa-truck"></i>
        <div>
          <h2>Free shipping</h2>
          <em>Express delivery withing 3 days</em>
        </div>
        <span>&nbsp;</span>
      </div>
      <div class="col-md-4 steps-block-col">
        <i class="fa fa-gift"></i>
        <div>
          <h2>Daily Gifts</h2>
          <em>3 Gifts daily for lucky customers</em>
        </div>
        <span>&nbsp;</span>
      </div>
      <div class="col-md-4 steps-block-col">
        <i class="fa fa-phone"></i>
        <div>
          <h2>477 505 8877</h2>
          <em>24/7 customer care available</em>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END STEPS -->

<!-- BEGIN FOOTER -->
<th:block th:include="fragments/client/footer"></th:block>
<!-- END FOOTER -->

<th:block th:include="fragments/client/scripts"></th:block>
</body>
<!-- END BODY -->
</html>
