<!DOCTYPE html>
<html lang="en">

<!-- Head BEGIN -->
<title>Account | Book Store</title>
<th:block th:include="fragments/client/head"></th:block>
<!-- Head END -->

<!-- Body BEGIN -->
<body class="ecommerce">
<!-- BEGIN HEADER -->
<th:block th:include="fragments/client/header"></th:block>
<!-- END HEADER -->
    
    <div class="main">
      <div class="container">
        <ul class="breadcrumb">
          <li><a th:href="@{/}">Trang chủ</a></li>
          <li><a th:href="@{/shop-product-list}}">Thể loại</a></li>
          <li class="active">Trang tài khoản </li>
        </ul>
        <!-- BEGIN SIDEBAR & CONTENT -->
        <div class="row margin-bottom-40">
          <!-- BEGIN SIDEBAR -->
          <div class="sidebar col-md-3 col-sm-3">
            <ul class="list-group margin-bottom-25 sidebar-menu">
              <li class="list-group-item clearfix"><a href="javascript:;"><i class="fa fa-angle-right"></i> Đăng nhập/Đăng ký</a></li>
              <li class="list-group-item clearfix"><a href="javascript:;"><i class="fa fa-angle-right"></i> Thay đổi mật khẩu</a></li>
              <li class="list-group-item clearfix"><a href="javascript:;"><i class="fa fa-angle-right"></i> Tài khoản của bản</a></li>
              <li class="list-group-item clearfix"><a href="javascript:;"><i class="fa fa-angle-right"></i> Address book</a></li>
              <li class="list-group-item clearfix"><a href="javascript:;"><i class="fa fa-angle-right"></i> Wish list</a></li>
              <li class="list-group-item clearfix"><a href="javascript:;"><i class="fa fa-angle-right"></i> Returns</a></li>
              <li class="list-group-item clearfix"><a href="javascript:;"><i class="fa fa-angle-right"></i> Newsletter</a></li>
            </ul>
          </div>
          <!-- END SIDEBAR -->

          <!-- BEGIN CONTENT -->
          <div class="col-md-9 col-sm-7">
            <h1>My Account Page</h1>
            <div class="content-page">
              <h3>My Account</h3>
              <ul>
                <li><a href="javascript:;">Edit your account information</a></li>
                <li><a href="javascript:;">Change your password</a></li>
                <li><a href="javascript:;">Modify your address book entries</a></li>
                <li><a href="javascript:;">Modify your wish list</a></li>
              </ul>
              <hr>

              <h3>My Orders</h3>
              <ul>
                <li><a href="javascript:;">View your order history</a></li>
                <li><a href="javascript:;">Downloads</a></li>
                <li><a href="javascript:;">Your Reward Points</a></li>
                <li><a href="javascript:;">View your return requests</a></li>
                <li><a href="javascript:;">Your Transactions</a></li>
              </ul>
            </div>
          </div>
          <!-- END CONTENT -->
        </div>
        <!-- END SIDEBAR & CONTENT -->
      </div>
    </div>

    <!-- BEGIN STEPS -->
    <div class="steps-block steps-block-red">
      <div class="container">
        <div class="row">
          <div class="col-md-4 steps-block-col">
            <i class="fa fa-truck"></i>
            <div>
              <h2>Free shipping</h2>
              <em>Express delivery withing 3 days</em>
            </div>
            <span>&nbsp;</span>
          </div>
          <div class="col-md-4 steps-block-col">
            <i class="fa fa-gift"></i>
            <div>
              <h2>Daily Gifts</h2>
              <em>3 Gifts daily for lucky customers</em>
            </div>
            <span>&nbsp;</span>
          </div>
          <div class="col-md-4 steps-block-col">
            <i class="fa fa-phone"></i>
            <div>
              <h2>477 505 8877</h2>
              <em>24/7 customer care available</em>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- END STEPS -->

<!-- BEGIN FOOTER -->
<th:block th:include="fragments/client/footer"></th:block>
<!-- END FOOTER -->

<!-- END fast view of a product -->
<th:block th:include="fragments/client/scripts"></th:block>
</body>
<!-- END BODY -->
</html>
