<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- Head BEGIN -->
<title>Home | Book Store</title>
<th:block th:include="fragments/client/head"></th:block>
<!-- Head END -->

<!-- Body BEGIN -->
<body class="ecommerce">
<!-- BEGIN HEADER -->
<th:block th:include="fragments/client/header"></th:block>
<!-- END HEADER -->

<div class="main">
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="index.html">Home</a></li>
            <li><a href="">Store</a></li>
            <li class="active">Checkout</li>
        </ul>
        <!-- BEGIN SIDEBAR & CONTENT -->
        <div class="row margin-bottom-40">
            <!-- BEGIN CONTENT -->
            <div class="col-md-12 col-sm-12">
                <h1>Checkout</h1>
                <!-- BEGIN CHECKOUT PAGE -->
                <div class="panel-group checkout-page accordion scrollable" id="checkout-page">

                    <!-- BEGIN CHECKOUT -->
                    <div id="checkout" class="panel panel-default">
                        <div class="panel-heading">
                            <h2 class="panel-title">
                                <a data-toggle="collapse" data-parent="#checkout-page" href="#checkout-content" class="accordion-toggle">
                                    Nhập thông tin người dùng
                                </a>
                            </h2>
                        </div>
                        <div id="checkout-content" class="panel-collapse collapse in">
                            <div class="panel-body row">
                                <div class="col-md-2"></div>
                                <div class="col-md-8">
                                    <div class="content-form-page">
                                        <form role="form" th:action="@{/cart/checkout}" th:object="${order}" method="post" class="form-horizontal form-without-legend">
                                            <div class="form-group">
                                                <label class="col-lg-2 control-label" for="full-name">Họ và tên<span class="require">*</span></label>
                                                <div class="col-lg-8">
                                                    <input type="text" th:field="*{customerName}" id="full-name" class="form-control">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-lg-2 control-label" for="email">Email<span class="require">*</span></label>
                                                <div class="col-lg-8">
                                                    <input type="text" id="email" class="form-control">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-lg-2 control-label" for="telephone">Số điện thoại<span class="require">*</span></label>
                                                <div class="col-lg-8">
                                                    <input type="text" th:field="*{customerPhone}" id="telephone" class="form-control">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-lg-2 control-label" for="address">Địa chỉ<span class="require">*</span></label>
                                                <div class="col-lg-8">
                                                    <input type="text" th:field="*{customerAddress}" id="address" class="form-control">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-lg-2 control-label" for="">Ghi chú</label>
                                                <div class="col-lg-8">
                                                    <textarea class="form-control" rows="6"></textarea>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-8 col-md-offset-2 padding-left-0 padding-top-20">
                                                    <button class="btn btn-primary" type="submit">Tiếp tục</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="col-md-2"></div>
                            </div>
                        </div>
                    </div>
                    <!-- END CHECKOUT -->
                </div>
                <!-- END CHECKOUT PAGE -->
            </div>
            <!-- END CONTENT -->
        </div>
        <!-- END SIDEBAR & CONTENT -->
    </div>
</div>

<!-- BEGIN STEPS -->
<div class="steps-block steps-block-red">
    <div class="container">
        <div class="row">
            <div class="col-md-4 steps-block-col">
                <i class="fa fa-truck"></i>
                <div>
                    <h2>Free shipping</h2>
                    <em>Express delivery withing 3 days</em>
                </div>
                <span>&nbsp;</span>
            </div>
            <div class="col-md-4 steps-block-col">
                <i class="fa fa-gift"></i>
                <div>
                    <h2>Daily Gifts</h2>
                    <em>3 Gifts daily for lucky customers</em>
                </div>
                <span>&nbsp;</span>
            </div>
            <div class="col-md-4 steps-block-col">
                <i class="fa fa-phone"></i>
                <div>
                    <h2>477 505 8877</h2>
                    <em>24/7 customer care available</em>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END STEPS -->
<!-- BEGIN FOOTER -->
<th:block th:include="fragments/client/footer"></th:block>
<!-- END FOOTER -->
<!-- END fast view of a product -->
<th:block th:include="fragments/client/scripts"></th:block>
</body>
<!-- END BODY -->
</html>
