<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- Head BEGIN -->
<title>Shopping Cart | Book Store</title>
<th:block th:include="fragments/client/head"></th:block>
<!-- Head END -->

<!-- Body BEGIN -->
<body class="ecommerce">
<!-- BEGIN HEADER -->
<th:block th:include="fragments/client/header"></th:block>
<!-- END HEADER -->

<div class="main">
  <div class="container">
    <!-- BEGIN SIDEBAR & CONTENT -->
    <div class="row margin-bottom-40">
      <!-- BEGIN CONTENT -->
      <div class="col-md-12 col-sm-12">
        <h1>Shopping cart</h1>
        <th:block th:if="${total == 0}">
          <p>Chưa có sản phẩm trong giỏ hàng của bạn.</p>
         <p>Click <a th:href="@{/shop-product-list}">vào đây</a> để quay lại trang chủ.</p>
        </th:block>
        <th:block th:unless="${total == 0}">
          <div>
            <div class="goods-page">
              <form method="post" th:action="${'/cart/update'}">
              <div class="goods-data clearfix">
                <div class="table-wrapper-responsive">
                  <table summary="Shopping cart">
                    <tr>
                      <th class="goods-page-image">Ảnh sách</th>
                      <th class="goods-page-name">Tên sách</th>
                      <th class="goods-page-publisher">Nhà xuất bản</th>
                      <th class="goods-page-quantity">Số lượng</th>
                      <th class="goods-page-quantity">Số lượng test</th>
                      <th class="goods-page-price">Đơn giá</th>
                      <th class="goods-page-total" colspan="2">Total</th>
                    </tr>
                    <tr th:each="item :${session.cart}">
                      <td class="">
                        <img th:src="${item.book.photos}" width="100px" alt="">
                      </td>
                      <td>
                        <h3><a href="javascript:;"><span th:text="${item.book.name}"></span></a></h3>
                      </td>
                      <td th:text="${item.book.publisher.name}">
                      </td>
                      <td class="goods-page-quantity">
                        <div class="product-quantity">
                          <input id="product-quantity" type="text" th:value="${item.quantity}" readonly class="form-control input-sm">
                        </div>
                      </td>
                      <td>
                        <input name="quantity" type="number" th:value="${item.quantity}" width="20px">
                      </td>
                      <td class="goods-page-price">
                        <strong th:text="${item.book.price + 'đ'}"></strong>
                      </td>
                      <td class="goods-page-total">
                        <strong th:text="${item.book.price * item.quantity + 'đ'}"></strong>
                      </td>
                      <td class="del-goods-col">
                        <a th:href="${'/cart/remove/' +item.book.id}" class="del-goods" href="javascript:;">&nbsp;</a>
                      </td>
                    </tr>
                  </table>
                </div>
                <div class="shopping-total">
                  <ul>
                    <li style="text-align: right">
                      <input type="submit" class="btn btn-warning" value="update giá">
<!--                      <em>Sub total</em>-->
<!--                      <strong class="price"><span>$</span>47.00</strong>-->
                    </li>
                    <em>Tổng giá: </em>
                    <strong class="price" th:text="${total + 'đ'}"></strong>
                  </ul>
                </div>
              </div>
              </form>
            </div>
            <a th:href="@{/shop-product-list}" class="btn btn-default" type="submit">Continue shopping <i class="fa fa-shopping-cart"></i></a>
            <a class="btn btn-primary" type="submit">Checkout<i class="fa fa-check"></i></a>
          </div>
        </th:block>
      </div>
      <!-- END CONTENT -->
    </div>
    <!-- END SIDEBAR & CONTENT -->
  </div>
</div>

<!-- BEGIN STEPS -->
<div class="steps-block steps-block-red">
  <div class="container">
    <div class="row">
      <div class="col-md-4 steps-block-col">
        <i class="fa fa-truck"></i>
        <div>
          <h2>Free shipping</h2>
          <em>Express delivery withing 3 days</em>
        </div>
        <span>&nbsp;</span>
      </div>
      <div class="col-md-4 steps-block-col">
        <i class="fa fa-gift"></i>
        <div>
          <h2>Daily Gifts</h2>
          <em>3 Gifts daily for lucky customers</em>
        </div>
        <span>&nbsp;</span>
      </div>
      <div class="col-md-4 steps-block-col">
        <i class="fa fa-phone"></i>
        <div>
          <h2>477 505 8877</h2>
          <em>24/7 customer care available</em>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END STEPS -->

<!-- BEGIN FOOTER -->
<th:block th:include="fragments/client/footer"></th:block>
<!-- END FOOTER -->

<!-- BEGIN fast view of a product -->
<div id="product-pop-up" style="display: none; width: 700px;">
  <div class="product-page product-pop-up">
    <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-3">
        <div class="product-main-image">
          <img src="/assets-client/pages/img/products/book3.jpg" alt="Cool green dress with red bell" class="img-responsive">
        </div>
        <div class="product-other-images">
          <a href="javascript:;" class="active"><img alt="Berry Lace Dress" src="/assets-client/pages/img/products/book3.jpg"></a>
          <a href="javascript:;"><img alt="Berry Lace Dress" src="/assets-client/pages/img/products/book5.jpg"></a>
          <a href="javascript:;"><img alt="Berry Lace Dress" src="/assets-client/pages/img/products/book4.jpg"></a>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-9">
        <h1>Cool green dress with red bell</h1>
        <div class="price-availability-block clearfix">
          <div class="price">
            <strong><span>$</span>47.00</strong>
            <em>$<span>62.00</span></em>
          </div>
          <div class="availability">
            Availability: <strong>In Stock</strong>
          </div>
        </div>
        <div class="description">
          <p>Lorem ipsum dolor ut sit ame dolore  adipiscing elit, sed nonumy nibh sed euismod laoreet dolore magna aliquarm erat volutpat
            Nostrud duis molestie at dolore.</p>
        </div>
        <div class="product-page-options">
          <div class="pull-left">
            <label class="control-label">Size:</label>
            <select class="form-control input-sm">
              <option>L</option>
              <option>M</option>
              <option>XL</option>
            </select>
          </div>
          <div class="pull-left">
            <label class="control-label">Color:</label>
            <select class="form-control input-sm">
              <option>Red</option>
              <option>Blue</option>
              <option>Black</option>
            </select>
          </div>
        </div>
        <div class="product-page-cart">
          <div class="product-quantity">
            <input id="product-quantity3" type="text" value="1" readonly class="form-control input-sm">
          </div>
          <button class="btn btn-primary" type="submit">Add to cart</button>
          <a href="shop-item.html" class="btn btn-default">More details</a>
        </div>
      </div>

      <div class="sticker sticker-sale"></div>
    </div>
  </div>
</div>
<!-- END fast view of a product -->
<th:block th:include="fragments/client/scripts"></th:block>
<script>

</script>
</body>
<!-- END BODY -->
</html>
