<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- Head BEGIN -->
<title>Home | Book Store</title>
<th:block th:include="fragments/client/head"></th:block>
<!-- Head END -->

<!-- Body BEGIN -->
<body class="ecommerce">
<!-- BEGIN HEADER -->
<th:block th:include="fragments/client/header"></th:block>
<!-- END HEADER -->

<div class="main">
  <div class="container">
    <!-- BEGIN SIDEBAR & CONTENT -->
    <div class="row margin-bottom-40 ">
      <!-- BEGIN SIDEBAR -->
      <div class="sidebar col-md-3 col-sm-4">
        <ul class="list-group margin-bottom-25 sidebar-menu">
        <li class="list-group-item clearfix"><a th:href="@{/shop-product-new-release}"><i class="fa fa-angle-right"></i>Sách mới phát hành</a></li>
          <li class="list-group-item clearfix"><a th:href="@{/shop-product-waiting}"><i class="fa fa-angle-right"></i>Sách sắp phát hành</a></li>
        <li class="list-group-item clearfix"><a th:href="@{/shop-product-list}"><i class="fa fa-angle-right"></i> Danh Mục Sách</a></li>
      </ul>
      </div>
      <!-- END SIDEBAR -->
      <!-- BEGIN CONTENT -->
      <div class="col-md-9 col-sm-8">
<!--        <h4>Xu hướng tìm kiếm: lịch sử, cho mẹ, nhà giả, tiếng việt, giáo trình ngữ, hán, toán, vật lý, học-->
<!--          nhật</h4>-->
        <!-- BEGIN PROMO -->
        <div class="shop-index-carousel">
          <div class="content-slider">
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
              <!-- Indicators -->
              <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
              </ol>
              <div class="carousel-inner">
                <div class="item active">
                  <img src="/assets-client/pages/img/shop-slider/slide2/bg.jpg" class="img-responsive" alt="Berry Lace Dress">
                </div>
                <div class="item">
                  <img src="/assets-client/pages/img/shop-slider/slide3/bg.jpg" class="img-responsive" alt="Berry Lace Dress">
                </div>
                <div class="item">
                  <img src="/assets-client/pages/img/shop-slider/slide4/bg.jpg" class="img-responsive" alt="Berry Lace Dress">
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- END PROMO -->
      </div>
      <!-- END CONTENT -->
    </div>
    <!-- END SIDEBAR & CONTENT -->

    <!-- BEGIN SALE PRODUCT  -->
    <div class="row margin-bottom-40">
      <!-- BEGIN SALE PRODUCT -->
      <div class="col-md-12 sale-product">
        <h2><a th:href="@{/shop-product-new-release}">Sách mới phát hành trong tuần</a></h2>
        <div class="owl-carousel owl-carousel5">
          <div th:each="book, iStat : ${fourBooks}">
            <div class="product-item">
              <div class="pi-img-wrapper">
                <img th:src="${book.getPhotos()}" class="img-responsive" alt="image book" style="height: 100%">
                <div>
                  <a th:href="${book.getPhotos()}" class="btn btn-default fancybox-button">Zoom</a>
                  <a th:href="@{'/shop-item/' + ${book.id}}" class="btn btn-default fancybox-fast-view">View</a>
                </div>
              </div>
              <h3 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis; width: auto"><a th:href="@{'/shop-item/' + ${book.id}}" th:id="${book.getName()}" th:text="${book.getName()}"></a></h3>
              <div class="pi-price" th:text="${book.getPrice() + 'đ  '}"></div>
              <div class="pi-price-sale" th:text="${book.price*1.5 + 'đ'}" style="text-decoration: line-through;"></div>
              <div class="sticker sticker-new"></div>
            </div>
          </div>
        </div>
      </div>
      <!-- END SALE PRODUCT -->
    </div>
    <div class="row margin-bottom-40">
      <!-- BEGIN SALE PRODUCT -->
      <div class="col-md-12 sale-product">
        <h2><a th:href="@{/shop-product-waiting}">Sách Sắp Phát Hành Tuần Tới</a></h2>
        <div class="owl-carousel owl-carousel5">
          <div th:each="book, iStat : ${bookComingSoon}">
            <div class="product-item">
              <div class="pi-img-wrapper">
                <img th:src="${book.getPhotos()}" class="img-responsive" alt="image book" style="height: 100%">
                <div>
                  <a th:href="${book.getPhotos()}" class="btn btn-default fancybox-button">Zoom</a>
                  <a th:href="@{'/shop-item/' + ${book.id}}" class="btn btn-default fancybox-fast-view">View</a>
                </div>
              </div>
              <h3 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis; width: auto"><a th:href="@{'/shop-item/' + ${book.id}}" th:id="${book.getName()}" th:text="${book.getName()}"></a></h3>
              <!--<div class="pi-price-sale" th:text="${book.price*1.5 + 'đ'}" style="text-decoration: line-through;"></div>-->
              <div  class="pi-price"><a th:href="@{'/shop-item/' + ${book.id}}">Sách sắp phát hành tuần tới</a></div>
            </div>
          </div>
        </div>
      </div>
      <!-- END SALE PRODUCT -->
    </div>
    <!-- END SALE PRODUCT -->
    <!-- BEGIN Book new & Book Coming soon -->
    <div class="row margin-bottom-40 ">
      <!-- BEGIN Book new -->
      <div class="col-md-9 col-sm-8">
        <h4>Sách sắp phát hành</h4>
        <div class="row-fluid" style="width: 100%;">
          <div class="book-best-sale background_dark_green"
               style="padding: 38px; display: flex; background-color: #0a6f3c;">
            <div class="img-thumb" style="width: 30%; padding-right: 30px;">
              <img src="https://www.vinabook.com/images/thumbnails/product/210x/351000_combo-ma-dao-to-su-tap-3-4.jpg" />
            </div>
            <div class="text-content-best-sale" style="width: 70%;">
            </div>
          </div>
        </div>
      </div>
      <!-- END Book new -->

      <!-- BEGIN Book Coming soon -->
      <div class="col-md-3 col-sm-4">
        <h4>Sách bán chạy</h4>
        <div class="row">
          <div class="pic-thumb col-md-3">
            <img src="https://www.vinabook.com/images/thumbnails/product/50x/350774_ung-thu-khong-phai-la-benh-ma-la-co-che-chua-lanh.jpg" />
          </div>
          <div class="info-book-r col-md-9">
            <div class="title-book-r">
              <a href="#" title="Ung Thư Không Phải Là Bệnh, Mà Là Cơ Chế Chữa Lành">Ung Thư Không Phải Là Bệnh, Mà Là
                Cơ Chế...</a>
            </div>
            <div class="tac-gia">
              <span>Andreas Moritz</span>
            </div>
            <div class="all-preice">
              <span>250.000 đ</span>
            </div>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="pic-thumb col-md-3">
            <img src="https://www.vinabook.com/images/thumbnails/product/50x/350748_phai-dep-elle-so-109-thang-112019.jpg" />
          </div>
          <div class="info-book-r col-md-9">
            <div class="title-book-r">
              <a href="#" title="Phái Đẹp - Elle - Số 109 (Tháng 11/2019)">Phái Đẹp - Elle - Số 109 (Tháng 11/2019)</a>
            </div>
            <div class="all-preice">
              <span>44.000 đ</span>
            </div>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="pic-thumb col-md-3">
            <img src="https://www.vinabook.com/images/thumbnails/product/50x/350748_phai-dep-elle-so-109-thang-112019.jpg" />
          </div>
          <div class="info-book-r col-md-9">
            <div class="title-book-r">
              <a href="#" title="Phái Đẹp - Elle - Số 109 (Tháng 11/2019)">Phái Đẹp - Elle - Số 109 (Tháng 11/2019)</a>
            </div>
            <div class="all-preice">
              <span>44.000 đ</span>
            </div>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="pic-thumb col-md-3">
            <img src="https://www.vinabook.com/images/thumbnails/product/50x/351000_combo-ma-dao-to-su-tap-3-4.jpg" />
          </div>
          <div class="info-book-r col-md-9">
            <div class="title-book-r">
              <a href="#" title="Combo Ma Đạo Tổ Sư (Tập 3 + 4)">Combo Ma Đạo Tổ Sư (Tập 3 + 4)</a>
            </div>
            <div class="tac-gia">
              <span>Mặc Hương Đồng Khứu</span>
            </div>
            <div class="all-preice">
              <span>238.000 đ</span>
            </div>
          </div>
        </div>

      </div>
      <!-- END Book Coming soon -->
    </div>
    <!-- END BEGIN Book new & Book Coming soon -->
  </div>
</div>
<!-- BEGIN STEPS -->
<div class="steps-block steps-block-red">
  <div class="container">
    <div class="row">
      <div class="col-md-4 steps-block-col">
        <i class="fa fa-truck"></i>
        <div>
          <h2>Free shipping</h2>
          <em>Giao hàng nhanh trong 3 ngày</em>
        </div>
        <span>&nbsp;</span>
      </div>
      <div class="col-md-4 steps-block-col">
        <i class="fa fa-gift"></i>
        <div>
          <h2>Daily Gifts</h2>
          <em>3 Gifts daily for lucky customers</em>
        </div>
        <span>&nbsp;</span>
      </div>
      <div class="col-md-4 steps-block-col">
        <i class="fa fa-phone"></i>
        <div>
          <h2>477 505 8877</h2>
          <em>24/7 customer care available</em>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END STEPS -->
<!-- BEGIN FOOTER -->
<th:block th:include="fragments/client/footer"></th:block>
<!-- END FOOTER -->
<th:block th:include="fragments/client/scripts"></th:block>
</body>
<!-- END BODY -->
</html>
