<!--   Core JS Files   -->
<script th:src="@{/assets-admin/js/core/jquery.min.js}" ></script>
<script th:src="@{/assets-admin/js/core/popper.min.js}"></script>
<script th:src="@{/assets-admin/js/core/bootstrap.min.js}"></script>
<!--<script th:src="@{/assets/js/plugins/perfect-scrollbar.jquery.min.js}"></script>-->
<!-- Chart JS -->
<script th:src="@{/assets-admin/js/plugins/chartjs.min.js}"></script>
<!--  Notifications Plugin    -->
<script th:src="@{/assets-admin/js/plugins/bootstrap-notify.js}"></script>

<!--<script th:src="@{/assets-admin/js/paper-dashboard.min.js?v=2.0.0}" type="text/javascript"></script>-->
<script src="https://widget.cloudinary.com/v2.0/global/all.js" type="text/javascript"></script>
<!-- Paper Dashboard DEMO methods, don't include it in your project! -->
<script th:src="@{/assets-admin/demo/demo.js}"></script>




