<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
      xmlns:th="http://www.thymeleaf.org">
<title>
    Detail author | Admin
</title>
<th:block th:include="fragments/admin/head"></th:block>

<body>
<div class="wrapper ">
    <th:block th:include="fragments/admin/sidebar_member"></th:block>
    <div class="main-panel">
        <!-- Navbar -->
        <th:block th:include="fragments/admin/navbar"></th:block>
        <!-- End Navbar -->
        <div class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="card ">
                        <div class="card-header ">
                            <h4 class="card-title">Detail Member</h4>
                        </div>
                        <div class="row card-body">
                            <!-- Begin Page Content -->
                            <div class="col-sm-4">
                                <div class="content">
                                    <img th:src="@{${member.avatar}}">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <h5  th:text="${'Name: ' + member.username}" class="card-title"></h5>
                                <p th:text="${'Email: ' + member.email}"></p>
                                <p th:text="${'Phone: ' + member.phone}"></p>
                            </div>
                            <div class="col-sm-4">
                                <p th:text="${'Address: ' + member.address}"></p>
                                <p th:text="${'Role: ' + member.role}"></p>
                            </div>
                            <!-- /.content -->
                        </div>
                    </div>
                </div>
            </div>
            <th:block th:include="fragments/admin/footer"></th:block>
        </div>
    </div>
    <th:block th:include="fragments/admin/scripts"></th:block>
</div>
</body>

</html>
