<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<title>
    List author | Admin
</title>
<th:block th:include="fragments/admin/head"></th:block>
<body class="">
<div class="wrapper ">
    <th:block th:include="fragments/admin/sidebar_member"></th:block>
    <div class="main-panel">
        <!-- Navbar -->
        <th:block th:include="fragments/admin/navbar"></th:block>
        <!-- End Navbar -->
        <div class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Member Table</h4>
                            <div class="row">
                                <div class="col-sm-9">
                                </div>
                                <div class="col-sm-3">
                                    <form>
                                        <div class="input-group no-border">
                                            <input type="text" value="" class="form-control" placeholder="Search...">
                                            <div class="input-group-append">
                                                <div class="input-group-text">
                                                    <i class="nc-icon nc-zoom-split"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead class=" text-primary">
                                    <th><input type="checkbox" id="select_all"></th>
                                    <th>Id</th>
                                    <th>UserName</th>
                                    <th>Email</th>
                                    <th>Phone</th>
                                    <th>Role</th>
                                    <th>Action</th>
                                    </thead>
                                    <tbody>
                                    <tr th:each="member : ${members}">
                                        <td><input type="checkbox" name="select[]"></td>
                                        <td th:text="${member.id}"></td>
                                        <td th:text="${member.username}"></td>
                                        <th th:text="${member.email}"></th>
                                        <th th:text="${member.phone}"></th>
                                        <th th:text="${member.role}"></th>
                                        <td>
                                            <a th:href="@{'/members/' + ${member.id}}">Detail |</a>
                                            <a th:href="@{'/members/' + ${member.id}}">Delete</a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <th:block th:include="fragments/admin/footer"></th:block>
        </div>
    </div>
    <th:block th:include="fragments/admin/scripts"></th:block>

    <script type="text/javascript">
        $(document).ready(function(){
            $("#select_all").click(function(){
                var checked_status = this.checked;
                $("input[name='select[]']").each(function(){
                    this.checked = checked_status;
                });
            });
        });
    </script>
</div>
</body>

</html>
