<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table border="1">
    <thead>
    <tr>
        <th th:text="ID" />
        <th th:text="Name" />
    </tr>
    </thead>
    <tbody>
    <tr th:each="book, iStat : ${fourBooks}"
        th:style="${iStat.odd}? 'font-weight: bold;'"
        th:alt-title="${iStat.even}? 'even' : 'odd'">
        <td th:text="${book.id}" />
        <td th:text="${book.name}" />
        <td th:text="${book.getCreatedAtMLS()}" />
    </tr>
    </tbody>
</table>
<div th:if="${bookPage.totalPages > 0}" class="pagination"
     th:each="pageNumber : ${pageNumbers}">
    <a th:href="@{/listBooks(size=${bookPage.size}, page=${pageNumber})}"
       th:text=${pageNumber}
       th:class="${pageNumber==bookPage.number + 1} ? active"></a>
</div>
</body>
</html>