<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Hello account</h1>
<table>
    <thead>
    <th>Id</th>
    <th>UserName</th>
    <th>Email</th>
    <th>Password</th>
    <th>Avatar</th>
    <th>Phone</th>
    <th>Address</th>
    </thead>
    <tbody>
    <tr th:each="member : ${members}">
        <th th:text="${member.id}"></th>
        <th th:text="${member.username}"></th>
        <th th:text="${member.email}"></th>
        <th th:text="${member.hashPassword}"></th>
        <th th:text="${member.avatar}"></th>
        <th th:text="${member.phone}"></th>
        <th th:text="${member.address}"></th>
    </tr>
    </tbody>
</table>
</body>
</html>