<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<title>
    List author | Admin
</title>
<th:block th:include="fragments/admin/head"></th:block>
<body class="">
<div class="wrapper ">
    <th:block th:include="fragments/admin/sidebar_category"></th:block>
    <div class="main-panel">
        <!-- Navbar -->
        <th:block th:include="fragments/admin/navbar"></th:block>
        <!-- End Navbar -->
        <div class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Category Table</h4>
                            <form th:action="@{/admin/categories}" method="get">
                            <div class="row">
                                <div class="col-sm-9">
                                    <a class="btn btn-success" th:href="@{/admin/categories/create}">New category</a>
                                </div>
                                <div class="col-sm-3">
                                        <div class="input-group no-border">
                                            <input type="text" th:value="${keyword}" name="keyword" class="form-control" placeholder="Search...">
                                            <input type="hidden" th:value="${limit}" name="limit">
                                            <input type="hidden" th:value="${currentPage}" name="page">
                                            <div class="input-group-append">
                                                <div class="input-group-text">
                                                    <i class="nc-icon nc-zoom-split"></i>
                                                </div>
                                            </div>
                                        </div>
                                </div>
                            </div>
                            </form>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead class=" text-primary">
                                    <th><input type="checkbox" id="select_all"></th>
                                    <th>Id</th>
                                    <th>Name</th>
                                    <th>Thumbnail</th>
                                    <th>Action</th>
                                    </thead>
                                    <tbody>
                                    <tr th:each="category : ${categories}">
                                        <td><input type="checkbox" name="select[]"></td>
                                        <td th:text="${category.id}"></td>
                                        <td th:text="${category.name}"></td>
                                        <td><img th:src="@{${category.thumbnail}}" class="img-thumbnail rounded"></td>

                                        <td>
                                            <a th:href="@{'/admin/categories/' + ${category.id}}">Detail |</a>
                                            <a th:href="@{'/admin/categories/update/' + ${category.id}}">Edit |</a>
                                            <a th:href="@{'#' + ${category.id}}" class="btn-delete-author">Delete</a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="card-footer">
                            <nav aria-label="Page navigation example" th:if="${totalPage > 1}">
                                <ul class="pagination float-right">
                                    <li class="page-item"><a class="page-link" th:href="@{/admin/categories(page=${1}, limit=${limit}, keyword=${keyword})}">First</a></li>
                                    <li th:if="${currentPage > 1}" class="page-item"><a class="page-link" th:href="@{/admin/categories(page=${currentPage - 1}, limit=${limit}, keyword=${keyword})}">Previous</a></li>
                                    <li th:if="${currentPage > 1}" class="page-item"><a class="page-link" th:href="@{/admin/categories(page=${currentPage - 1}, limit=${limit}, keyword=${keyword})}">[[${currentPage - 1}]]</a></li>
                                    <li class="page-item active"><a class="page-link" href="#">[[${currentPage}]]</a></li>
                                    <li th:if="${currentPage < totalPage}" class="page-item"><a class="page-link" th:href="@{/admin/categories(page=${currentPage + 1}, limit=${limit}, keyword=${keyword})}">[[${currentPage + 1}]]</a></li>
                                    <li th:if="${currentPage < totalPage}" class="page-item"><a class="page-link" th:href="@{/admin/categories(page=${currentPage + 1}, limit=${limit}, keyword=${keyword})}">Next</a></li>
                                    <li class="page-item"><a class="page-link" th:href="@{/admin/categories(page=${totalPage}, limit=${limit}, keyword=${keyword})}">Last</a></li>
                                </ul>
                            </nav>
                        </div>

                    </div>
                </div>

            </div>
            <th:block th:include="fragments/admin/footer"></th:block>
        </div>
    </div>
    <th:block th:include="fragments/admin/scripts"></th:block>
    <script th:src="@{/assets-admin/js/plugins/perfect-scrollbar.jquery.min.js}"></script>
    <script th:src="@{/assets-admin/js/paper-dashboard.min.jsv=2.0.0}" type="text/javascript"></script>

    <script type="text/javascript">
        $(document).ready(function(){
            $("#select_all").click(function(){
                var checked_status = this.checked;
                $("input[name='select[]']").each(function(){
                    this.checked = checked_status;
                });
            });

            $(".btn-delete-author").click(function () {
                var id = $(this).attr("href").replace("#", "");
                if (confirm("Bạn có chắc muốn xoá thể loại này?")) {
                    $.ajax({
                        url: "/admin/categories/delete/" + id,
                        type: "DELETE",
                        headers: {
                            "X-CSRF-TOKEN": $("meta[name='_csrf']").attr("content")
                        },
                        success: function (data) {
                            alert("Xoá thành công!");
                            window.location.reload();
                        },
                        error: function () {
                            alert("Thao tác thất bại, vui lòng thử lại sau!");
                        }
                    });
                }
                return false;
            });
        });
    </script>
</div>
</body>

</html>
