<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<title>
    List author | Admin
</title>
<th:block th:include="fragments/admin/head"></th:block>
<body class="">
<div class="wrapper ">
    <th:block th:include="fragments/admin/sidebar_order"></th:block>
    <div class="main-panel">
        <!-- Navbar -->
        <th:block th:include="fragments/admin/navbar"></th:block>
        <!-- End Navbar -->
        <div class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Order Table</h4>
                            <form th:action="@{/admin/orders}" method="get">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <!--<p th:text="'Tổng doanh thu: '+${total}"></p>-->
                                       <!-- <p th:text="'Tổng doanh thu tuần vừa qua: '+${total1}"></p>-->
                                    </div>
                                    <div class="col-sm-3">
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="input-group no-border">
                                            <input type="text" th:value="${keyword}" name="keyword" class="form-control" placeholder="Search...">
                                            <input type="hidden" th:value="${limit}" name="limit">
                                            <input type="hidden" th:value="${currentPage}" name="page">
                                            <div class="input-group-append">
                                                <div class="input-group-text">
                                                    <i class="nc-icon nc-zoom-split"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead class=" text-primary">
                                    <th>Nguoi dat</th>
                                    <th>SDT</th>
                                    <th>DIA CHI</th>
                                    <th>Gia don hang</th>
                                    <th>Status</th>
                                    <th>Update Status</th>
                                    <th>ORDER DETAILS</th>
                                    </thead>
                                    <tbody>
                                    <tr th:each="o :${orderBooks}">
                                        <td th:text="${o.customerName}"></td>
                                        <td th:text="${o.customerPhone}"></td>
                                        <td th:text="${o.customerAddress}"></td>
                                        <td th:text="${o.unitPrice}"></td>
                                       <th:block th:if="${o.status ==1}">
                                           <td>DONE</td>
                                       </th:block>
                                        <th:block th:if="${o.status ==0}">
                                            <td>CONFIRMED</td>
                                        </th:block>
                                        <th:block th:if="${o.status ==2}">
                                            <td>WAITING</td>
                                        </th:block>

                                        <form  th:action="@{'/admin/orders/updateStatus/' + ${o.id}}" method="post">
                                            <th:block th:if="${o.status != -1}">
                                                <td>
                                                    <select name="status" onchange="this.form.submit()">
                                                        <option th:each="stt : ${listStatus}" th:value="${stt.getValue()}" th:text="${stt.name()}" ></option>
                                                    </select>
                                                </td>
                                            </th:block>
                                            <th:block th:if="${o.status == -1}">
                                                <td>Bị hủy</td>
                                            </th:block>
                                        </form>
                                        <td >
                                            <a th:href="@{'/admin/orders/' + ${o.id}}">Detail</a>
                                            <!--<ul th:each="detail :${o.orderDetails}">
                                                <li th:text="${detail.book.name}+':'+${detail.quantity}+' cuốn'"></li>
                                                <li th:text="'Price:'+${detail.price}"></li>
                                                <li th:text="'BookID:'+${detail.id.getBookId()}"></li>
                                                <li th:text="'OrderID:'+${detail.id.getOrderId()}"></li>
                                            </ul>-->
                                        </td>
                                    </tr>
                                   <!-- <tr>
                                        <td colspan="1" th:text="'Tổng doanh thu: '+${total}"></td>
                                    </tr>
                                    <tr>
                                        <td colspan="1" th:text="'Tổng doanh thu tuần vừa qua: '+${total1}"></td>
                                    </tr>-->
                                    </tbody>
                                </table>

                                <div class="card-footer">
                                    <nav aria-label="Page navigation example" th:if="${totalPage > 1}">
                                        <ul class="pagination float-right">
                                            <li class="page-item"><a class="page-link" th:href="@{/admin/orders(page=${1},keyword=${keyword}, limit=${limit})}">First</a></li>
                                            <li th:if="${currentPage > 1}" class="page-item"><a class="page-link" th:href="@{/admin/orders(page=${currentPage - 1},keyword=${keyword}, limit=${limit})}">Previous</a></li>
                                            <li th:if="${currentPage > 1}" class="page-item"><a class="page-link" th:href="@{/admin/orders(page=${currentPage - 1},keyword=${keyword}, limit=${limit})}">[[${currentPage - 1}]]</a></li>
                                            <li class="page-item active"><a class="page-link" href="#">[[${currentPage}]]</a></li>
                                            <li th:if="${currentPage < totalPage}" class="page-item"><a class="page-link" th:href="@{/admin/orders(page=${currentPage + 1},keyword=${keyword}, limit=${limit})}">[[${currentPage + 1}]]</a></li>
                                            <li th:if="${currentPage < totalPage}" class="page-item"><a class="page-link" th:href="@{/admin/orders(page=${currentPage + 1},keyword=${keyword}, limit=${limit})}">Next</a></li>
                                            <li class="page-item"><a class="page-link" th:href="@{/admin/orders(page=${totalPage},keyword=${keyword}, limit=${limit})}">Last</a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>

            </div>
            <th:block th:include="fragments/admin/footer"></th:block>
        </div>
    </div>
    <th:block th:include="fragments/admin/scripts"></th:block>
    <script th:src="@{/assets-admin/js/plugins/perfect-scrollbar.jquery.min.js}"></script>
    <script th:src="@{/assets-admin/js/paper-dashboard.min.js?v=2.0.0}" type="text/javascript"></script>

    <script type="text/javascript">
        $(document).ready(function(){
            $(".btn-delete-author").click(function () {
                var id = $(this).attr("href").replace("#", "");
                if (confirm("Bạn có chắc muốn xoá tài khoản này?")) {
                    $.ajax({
                        url: "/members/delete/" + id,
                        type: "DELETE",
                        headers: {
                            "X-CSRF-TOKEN": $("meta[name='_csrf']").attr("content")
                        },
                        success: function (data) {
                            alert("Xoá thành công!");
                            window.location.reload();
                        },
                        error: function () {
                            alert("Thao tác thất bại, vui lòng thử lại sau!");
                        }
                    });
                }
                return false;
            });
        });
    </script>
</div>
</body>

</html>
