<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<title>
    List author | Admin
</title>
<th:block th:include="fragments/admin/head"></th:block>
<body class="">
<div class="wrapper ">
    <th:block th:include="fragments/admin/sidebar_order"></th:block>
    <div class="main-panel">
        <!-- Navbar -->
        <th:block th:include="fragments/admin/navbar"></th:block>
        <!-- End Navbar -->
        <div class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Order Table</h4>
                            <form th:action="@{/admin/books}" method="get">
                                <div class="row">
                                    <div class="col-sm-6">
                                    </div>
                                    <div class="col-sm-3">
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="input-group no-border">
                                            <input type="text" name="keyword" class="form-control" placeholder="Search...">
                                            <div class="input-group-append">
                                                <div class="input-group-text">
                                                    <i class="nc-icon nc-zoom-split"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead class=" text-primary">
                                    <th>Username</th>
                                    <th>Phone</th>
                                    <th>Address</th>
                                    <th>Total price</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                    </thead>
                                    <tbody>
                                    <tr  th:each="o :${list}">
                                        <td th:text="${o.customerName}"></td>
                                        <td th:text="${o.customerPhone}"></td>
                                        <td th:text="${o.customerAddress}"></td>
                                        <td th:text="${o.unitPrice}"></td>
                                        <th:block th:if="${o.status ==1}">
                                            <td>Đang xử lý</td>
                                        </th:block>
                                        <th:block th:unless="${o.status ==1}">
                                            <td>Đã sử lý</td>
                                        </th:block>
                                        <td>
                                            <a th:href="@{'/admin/orders/' + ${o.id}}">Detail |</a>
                                            <a href="#" class="btn-delete-author">Delete</a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>


                    </div>
                </div>

            </div>
            <th:block th:include="fragments/admin/footer"></th:block>
        </div>
    </div>
    <th:block th:include="fragments/admin/scripts"></th:block>
    <script th:src="@{/assets-admin/js/plugins/perfect-scrollbar.jquery.min.js}"></script>
    <script th:src="@{/assets-admin/js/paper-dashboard.min.js?v=2.0.0}" type="text/javascript"></script>

    <script type="text/javascript">
        $(document).ready(function(){
            $(".btn-delete-author").click(function () {
                var id = $(this).attr("href").replace("#", "");
                if (confirm("Bạn có chắc muốn xoá tài khoản này?")) {
                    $.ajax({
                        url: "/members/delete/" + id,
                        type: "DELETE",
                        headers: {
                            "X-CSRF-TOKEN": $("meta[name='_csrf']").attr("content")
                        },
                        success: function (data) {
                            alert("Xoá thành công!");
                            window.location.reload();
                        },
                        error: function () {
                            alert("Thao tác thất bại, vui lòng thử lại sau!");
                        }
                    });
                }
                return false;
            });
        });
    </script>
</div>
</body>

</html>
