<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<th:block th:include="fragments/admin/head"></th:block>
<body>
<div class="wrapper ">
    <th:block th:include="fragments/admin/sidebar"></th:block>
    <div class="main-panel">
        <th:block th:include="fragments/admin/navbar"></th:block>
        <!-- <div class="panel-header panel-header-sm">
  </div> -->
        <div class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="card ">
                        <div class="card-header ">
                                <h4 class="title">Detail author</h4>
                        </div>
                        <div class="card-body ">
                            <!-- Begin Page Content -->
<!--                            <div class="header">-->
<!--                                <h4 th:text="${author.name}" class="title">Edit Book</h4>-->
<!--                                <p class="category">Details</p>-->
<!--                            </div>-->

<!--                            <div class="content">-->
<!--                                <td><img th:src="@{${author.avatar}}"></td>-->
<!--                                <p th:text="${author.description}"></p>-->
<!--                            </div>-->
                            <!-- /.content -->
                        </div>
                    </div>
                </div>
            </div>
            <th:block th:include="fragments/admin/footer"></th:block>
        </div>
    </div>
    <th:block th:include="fragments/admin/scripts"></th:block>

    <script>
        $(document).ready(function() {
            demo.initGoogleMaps();
        });
    </script>
</div>
</body>

</html>
